<div class="container">
  <h1>
    <%= @thing.thing_name %>
    <small>( Last updated: <%= @thing.updated_at.strftime(fmt='%d-%m-%y %H:%M') %>)</small>
  </h1>
  <p>
    <label>Identifier:</label>
    <%= @thing.thing_hash %>
  </p>

  <p>
    <label>Type:</label>
    <%= @thing.thing_type == 1 ? 'Chartable Data' : 'Not Chartable Data' %>
  </p>

  <hr>
  <div class="buttons">
    <%= link_to 'Edit Thing', edit_thing_path(@thing), class: 'btn btn-primary btn-lg' %>
  </div>
  <hr>

  <h2>Thing Data Available</h2>
  <table class="table">
    <thead>
      <th>Topic Name</th>
      <th>Last Updated</th>
    </thead>
    <tbody>
      <% @thing.thing_logs.each do |thing_log| %>
      <tr>
        <td><%= thing_log.topic.titleize %></td>
        <td><%= thing_log.updated_at.strftime(fmt='%d-%m-%y %H:%M') %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>