<div class="container">
  <h1>
    <%= @laboratory.title %>
    <small>( Last updated: <%= @laboratory.updated_at.strftime(fmt='%d-%m-%y %H:%M') %>)</small>
  </h1>
  <p>
    <label>Description:</label>
    <%= @laboratory.description %>
  </p>

  <p>
    <label>Status:</label>
    <% if @laboratory.published %>
      Published
	<div >
		<%= button_to 'Unpublish', published_laboratory_path(@laboratory, :published => false), :method => :put  %>
		</div>
    <% else %>
      Private
		<div>
		<%= button_to 'Publish', published_laboratory_path(@laboratory.id, :published => true), :method => :put %>
		</div>
    <% end %>
  </p>

  <p>
    <label>Password Protected:</label>
    <%= @laboratory.password.present?.to_s.titleize %>
  </p>

  <hr>
  <div class="buttons">
    <%= link_to 'Configure', edit_laboratory_path(@laboratory), class: 'btn btn-primary btn-lg' %>
    <%= link_to 'UI Designer', ui_designer_path(@laboratory), class: 'btn btn-warning btn-lg' %>
  </div>
  <hr>


  <h2>Things and data available for this laboratory</h2>
  <table class="table">
    <thead>
      <th>Thing Name</th>
      <th>Identifier</th>
      <th>Available Data</th>
    </thead>
    <tbody>
      <% @things.each do |thing| %>
		<tr>
			<td><%= thing.thing_name %></td>
			<td><%= thing.thing_hash %></td>
			<td>
				<% thing.thing_logs.each do |log| %>
				<%= log.topic.titleize %>
			<% end %>
		</tr>
      <% end %>
    </tbody>
  </table>
</div>