<div class="container">
  <h1>
    <%= @laboratory.title %>
    <small>( Last updated: <%= @laboratory.updated_at.strftime(fmt='%d-%m-%y %H:%M') %>)</small>
  </h1>
  <p>
    <label>Description:</label>
    <%= @laboratory.description %>
  </p>

  <p>
    <label>Status:</label>
    <%= @laboratory.published ? 'Published' : 'Private' %>
  </p>

  <p>
    <label>Password Protected:</label>
    <%= @laboratory.password.present?.to_s.titleize %>
  </p>

  <hr>
  <div class="buttons">
    <%= link_to 'Edit Laboratory', edit_laboratory_path(@laboratory), class: 'btn btn-primary btn-lg' %>
    <%= link_to 'Design Laboratory UI', ui_designer_path(@laboratory), class: 'btn btn-warning btn-lg' %>
	<% if @laboratory.published %>
		<%= link_to 'Unpublish Laboratory', published_laboratory_path(@laboratory.id, :published => false), :method => :put, class: 'btn btn-primary btn-lg' %>
    <% else %>
		<%= link_to 'Publish Laboratory', published_laboratory_path(@laboratory.id, :published => true), :method => :put, class: 'btn btn-warning btn-lg' %>
    <% end %>
  </div>
  <hr>


  <h2>Things and data available for this laboratory</h2>
  <table class="table">
    <thead>
      <th>Thing Name</th>
      <th>Identifier</th>
      <th>Available Data</th>
    </thead>
    <tbody>
      <% @things.each do |thing| %>
		<tr>
			<td><%= thing.thing_name %></td>
			<td><%= thing.thing_hash %></td>
			<td>
				<% thing.thing_logs.each do |log| %>
				<%= log.topic.titleize %>
			<% end %>
		</tr>
      <% end %>
    </tbody>
  </table>
  
  <%= link_to 'Back', laboratories_path, class: 'btn btn-default' %>
</div>