<div class="container">
  <h1>
    <%= @laboratory.title %>
    <small>(<%= @laboratory.title.titleize %>)</small>
  </h1>
  <p>
    <label>Description:</label>
    <%= @laboratory.description %>
  </p>

  <p>
    <label>Status:</label>
    <% if @laboratory.published %>
      Published
      <small><a>Unpublish</a></small>
    <% else %>
      Private
      <small><a>Publish</a></small>
    <% end %>
  </p>

  <p>
    <label>Password Protected:</label>
    <%= @laboratory.password.present?.to_s.titleize %>
  </p>

  <hr>
  <div class="buttons">
    <%= link_to 'Configure', edit_laboratory_path(@laboratory), class: 'btn btn-primary btn-lg' %>
    <%= link_to 'UI Designer', ui_designer_path(@laboratory), class: 'btn btn-warning btn-lg' %>
  </div>
  <hr>


  <h2>Things</h2>
  <table class="table">
    <thead>
      <th>Thing_hash</th>
      <th>Type</th>
      <th>Connected At</th>
    </thead>
    <tbody>
      <% @things.each do |thing| %>
      <tr>
        <td><%= thing.thing_hash %></td>
        <td><%= thing.thing_type %></td>
        <td><%= thing.created_at %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>