<div class="container">

<h1 class="text-center">Existing Gateways</h1>
<hr>

  <small>Test output to display Gateways - To be updated with sensible data (Things, name etc).</small>
  
<%= link_to 'Register New Gateway', new_gateway_path, class: 'btn btn-primary' %>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Gateway Hash</th>
      <th>Password</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gateways.each do |gateway| %>
      <tr>
        <td><%= gateway.id %></td>
        <td><%= gateway.gateway_hash %></td>
        <td><%= gateway.password %></td>
        <td><%= gateway.synched ? 'Synched' : 'Not yet Synched' %></td>
        <td><%= link_to 'Show', gateway %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>