<div class="container">
  <h1>Register New Gateway</h1>
  <p>Please select your new gateway from the list of pending ones below:</p>
  <small>Note that it is intended that rig controllers will be uniquely identified on production.</small>


  <h2>Pending Gateways</h2>

  <table class="table">
    <thead>
      <th>Gateway ID</th>
      <th>Connected at</th>
      <th>Actions</th>
    </thead>
    <tbody>
    <% @pending_gateways.each do |gateway| %>
      <tr>
        <td><%= gateway.gateway_hash %></td>
        <td><%= gateway.created_at %></td>
        <td>
          <a class="btn btn-success sync-btn" id="<%= gateway.id %>">Synchronise</a>
          <a class="btn btn-default">Ping</a>
        </td>
      </tr>
    <% end %>
    </tbody>

  </table>

  <%= link_to 'Back', laboratories_path, class: 'btn btn-danger' %>
</div>

<div class="modal fade" id="settings-modal" tabindex="-1" role="dialog" aria-labelledby="settings-modal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Syncing Thing</h4>
      </div>
      <div class="modal-body centerize">
        <div class="syncing">
          <%= image_tag '/spinner.gif'%>
          <hr>
          <p>Please hold the sync button on your Thing gateway for 5 to 10 seconds...</p>
        </div>
        <div class="synced" style="display: none">
          <p>Thing successfully registered! Click the button below to start configuring it...</p>
          <a class="btn btn-lg btn-primary configure-btn">Configure Thing Gateway</a>
        </div>
      </div>
      <div class="modal-footer">
        <a class="btn btn-default">Ping</a>
        <button type="button" class="btn btn-danger" data-dismiss="modal" id="close-settings">Cancel</button>
      </div>
    </div>
  </div>
</div>

<script>
  $('.sync-btn').on('click', function() {
    var id = $(this).attr('id');
    $('.modal').modal();
    $('.synced').hide();
    $('.syncing').show();
     setTimeout(function() {
       $('.syncing').hide();
       $('.configure-btn').attr('href', '/things/' + id + '/edit');
       $('.synced').show();
     }, 5000)
  });
</script>
