<div class="container">
  <h1>
    <%= @gateway.gateway_name %>
    <small>(<%= @gateway.updated_at.strftime(fmt='%d-%m-%y %H:%M') %>)</small>
  </h1>
  <p>
    <label>Description:</label>
    <%= @gateway.description %>
  </p>

  <p>
    <label>Status:</label>
    <%= @gateway.status.titleize %>
  </p>

  <h2>Things accessed through this Gateway</h2>
  <table class="table">
    <thead>
      <th>Thing Name</th>
      <th>Type</th>
      <th>Connected At</th>
    </thead>
    <tbody>
      <% @things.each do |thing| %>
      <tr>
        <td><%= thing.thing_name %></td>
        <td><%= thing.thing_type %></td>
        <td><%= thing.created_at %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>