<%# add navigation links to this file %>

<% if user_signed_in? %>
  <li><%= link_to 'Laboratories', laboratories_path %></li>
  <li><%= link_to 'Things', things_path %></li>
  <li><%= link_to 'Gateways', gateways_path%></li>
  <li><%= link_to 'Experiments', experiments_path %></li>
<% end %>
<li><%= link_to 'About', page_path('about') %></li>


