<li class="data-log-widget" id="<%= widget['id'] %>" data-row="<%= widget['row'] %>" data-col="<%= widget['col'] %>" data-sizex="<%= widget['size_x'] %>" data-sizey="<%= widget['size_y'] %>">
  <h4><%= widget['settings'].select{|s| s['name'] == 'name'}.first['value'] %></h4>
  <div class="data-log" id="log-<%= widget['id'] %>">
  </div>
</li>

<script>
var lastUpdated = (new Date()).getTime();
var pin = <%= widget['settings'].select{|s| s['name'] == 'pin'}.first['value'] %>
var slaveModule = <%= widget['settings'].select{|s| s['name'] == 'slaveModule'}.first['value'] %>

var thisLog = $("#log-<%= widget['id'] %>")

setInterval(function () {
  $.ajax({
    url: '/api/get_log_data',
    data: {slave_id: slaveModule, pin: pin, from: lastUpdated},
    success: function(data) {
      if (data != null) {
        thisLog.append('<p>' + data.time + ': ' + data.value + '</p>')
        var height = thisLog[0].scrollHeight;
        thisLog.scrollTop(height);
      }

      lastUpdated = (new Date()).getTime();
    }
  })

}, 1000);

</script>
