<%= simple_form_for(@rig) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :rig_type %>
    <%= f.input :description %>
    <%= f.input :pdf_file %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
