<li class="motor-widget" id="<%= widget['id'] %>" data-row="<%= widget['row'] %>" data-col="<%= widget['col'] %>" data-sizex="<%= widget['size_x'] %>" data-sizey="<%= widget['size_y'] %>">
  <% if SlaveModule.find(widget['settings'].select{|s| s['name'] == 'slaveModule'}.first['value']).slave_datas.last.data.to_i == 1 %>
    <img class="motor-switch" data-on="true" src="/widgets/ui/switch_on.png" />
  <% else %>
    <img class="motor-switch" data-on="false" src="/widgets/ui/switch_off.png" />
  <% end %>
  <h4><%= widget['settings'].select{|s| s['name'] == 'name'}.first['value'] %></h4>
</li>

<script>
  $('.switch-widget#<%= widget['id'] %> .switch').on('click', function() {
    if ($(this).data('on') == true) {

      $.ajax({
        method: 'post',
        url: '/mqtt',
        data: {
          'rig_hash': '<%= @rig.rig_hash %>',
          's_address': '<%= SlaveModule.find(widget['settings'].select{|s| s['name'] == 'slaveModule'}.first['value']).s_addr %>',
          's_command': 0,
          's_value': 0
        }
      })

      $(this).attr('src', '/widgets/ui/switch_off.png');
      $(this).data('on', false);
    } else {

      $.ajax({
        method: 'post',
        url: '/mqtt',
        data: {
          'rig_hash': '<%=  @rig.rig_hash %>',
          's_address': '<%= SlaveModule.find(widget['settings'].select{|s| s['name'] == 'slaveModule'}.first['value']).s_addr %>',
          's_command': 1,
          's_value': 0
        }
      })
      $(this).attr('src', '/widgets/ui/switch_on.png')
      $(this).data('on', true);
    }
  });
</script>
